[flex='row'],
[flex='column'],
[flex='row-reverse'],
[flex='column-reverse'] {
  display: flex;
}
[flex='column'] {
  flex-direction: column;
}
[flex='row-reverse'] {
  flex-direction: row-reverse;
}
[flex='column-reverse'] {
  flex-direction: column-reverse;
}
